/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.btn {
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease-in-out;
  padding: .5rem 1rem;
  white-space: nowrap; }
  .btn-hover, .btn:hover {
    background-color: #e6e6e6;
    border-color: #bbb;
    color: #333; }
  .btn-active, .btn:active {
    background-color: #bbb;
    border-color: #333;
    color: #333; }
  .btn-focus, .btn:focus {
    border-color: #2196f3;
    color: #333; }
  .btn-disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none; }
  .btn-small {
    font-size: .8rem;
    padding: .25rem .5rem; }
  .btn-large {
    font-size: 1.25rem;
    padding: .5rem 1.5rem; }
  .btn-primary {
    background-color: #157ed4;
    border-color: #157ed4;
    color: #fff; }
    .btn-primary:hover {
      background-color: #165e83;
      border-color: #165e83;
      color: #fff; }
    .btn-primary:active {
      background-color: #0f2350;
      border-color: #0f2350;
      color: #fff; }
    .btn-primary:focus {
      border-color: #5bc0de;
      color: #fff; }
  .btn-success {
    background-color: #69b076;
    border-color: #69b076;
    color: #fff; }
    .btn-success:hover {
      background-color: #007b43;
      border-color: #007b43;
      color: #fff; }
    .btn-success:active {
      background-color: #316745;
      border-color: #316745;
      color: #fff; }
    .btn-success:focus {
      border-color: #5bc0de;
      color: #fff; }
  .btn-info {
    background-color: #59b9c6;
    border-color: #59b9c6;
    color: #fff; }
    .btn-info:hover {
      background-color: #2792c3;
      border-color: #2792c3;
      color: #fff; }
    .btn-info:active {
      background-color: #3e62ad;
      border-color: #3e62ad;
      color: #fff; }
    .btn-info:focus {
      border-color: #5bc0de;
      color: #fff; }
  .btn-warning {
    background-color: #d9a62e;
    border-color: #d9a62e;
    color: #fff; }
    .btn-warning:hover {
      background-color: #c89932;
      border-color: #c89932;
      color: #fff; }
    .btn-warning:active {
      background-color: #ad7d4c;
      border-color: #ad7d4c;
      color: #fff; }
    .btn-warning:focus {
      border-color: #5bc0de;
      color: #fff; }
  .btn-danger {
    background-color: #c85554;
    border-color: #c85554;
    color: #fff; }
    .btn-danger:hover {
      background-color: #d7003a;
      border-color: #d7003a;
      color: #fff; }
    .btn-danger:active {
      background-color: #a22041;
      border-color: #a22041;
      color: #fff; }
    .btn-danger:focus {
      border-color: #5bc0de;
      color: #fff; }

.btn-group {
  letter-spacing: -.35rem; }
  .btn-group > .btn {
    margin: 0; }

.container {
  margin: 0 auto; }

.row {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap; }

.col {
  display: block; }

.col-1 {
  display: block; }

.col-2 {
  display: block; }

.col-3 {
  display: block; }

.col-4 {
  display: block; }

.col-5 {
  display: block; }

.col-6 {
  display: block; }

.col-7 {
  display: block; }

.col-8 {
  display: block; }

.col-9 {
  display: block; }

.col-10 {
  display: block; }

.col-11 {
  display: block; }

.col-12 {
  display: block; }

@media (min-width: 0px) {
  .col-1 {
    max-width: 8.33333%;
    width: 8.33333%; }

  .col-2 {
    max-width: 16.66667%;
    width: 16.66667%; }

  .col-3 {
    max-width: 25%;
    width: 25%; }

  .col-4 {
    max-width: 33.33333%;
    width: 33.33333%; }

  .col-5 {
    max-width: 41.66667%;
    width: 41.66667%; }

  .col-6 {
    max-width: 50%;
    width: 50%; }

  .col-7 {
    max-width: 58.33333%;
    width: 58.33333%; }

  .col-8 {
    max-width: 66.66667%;
    width: 66.66667%; }

  .col-9 {
    max-width: 75%;
    width: 75%; }

  .col-10 {
    max-width: 83.33333%;
    width: 83.33333%; }

  .col-11 {
    max-width: 91.66667%;
    width: 91.66667%; }

  .col-12 {
    max-width: 100%;
    width: 100%; } }
.col-sm {
  display: block; }

.col-sm-1 {
  display: block; }

.col-sm-2 {
  display: block; }

.col-sm-3 {
  display: block; }

.col-sm-4 {
  display: block; }

.col-sm-5 {
  display: block; }

.col-sm-6 {
  display: block; }

.col-sm-7 {
  display: block; }

.col-sm-8 {
  display: block; }

.col-sm-9 {
  display: block; }

.col-sm-10 {
  display: block; }

.col-sm-11 {
  display: block; }

.col-sm-12 {
  display: block; }

@media (min-width: 576px) {
  .col-sm-1 {
    max-width: 8.33333%;
    width: 8.33333%; }

  .col-sm-2 {
    max-width: 16.66667%;
    width: 16.66667%; }

  .col-sm-3 {
    max-width: 25%;
    width: 25%; }

  .col-sm-4 {
    max-width: 33.33333%;
    width: 33.33333%; }

  .col-sm-5 {
    max-width: 41.66667%;
    width: 41.66667%; }

  .col-sm-6 {
    max-width: 50%;
    width: 50%; }

  .col-sm-7 {
    max-width: 58.33333%;
    width: 58.33333%; }

  .col-sm-8 {
    max-width: 66.66667%;
    width: 66.66667%; }

  .col-sm-9 {
    max-width: 75%;
    width: 75%; }

  .col-sm-10 {
    max-width: 83.33333%;
    width: 83.33333%; }

  .col-sm-11 {
    max-width: 91.66667%;
    width: 91.66667%; }

  .col-sm-12 {
    max-width: 100%;
    width: 100%; } }
.col-md {
  display: block; }

.col-md-1 {
  display: block; }

.col-md-2 {
  display: block; }

.col-md-3 {
  display: block; }

.col-md-4 {
  display: block; }

.col-md-5 {
  display: block; }

.col-md-6 {
  display: block; }

.col-md-7 {
  display: block; }

.col-md-8 {
  display: block; }

.col-md-9 {
  display: block; }

.col-md-10 {
  display: block; }

.col-md-11 {
  display: block; }

.col-md-12 {
  display: block; }

@media (min-width: 768px) {
  .col-md-1 {
    max-width: 8.33333%;
    width: 8.33333%; }

  .col-md-2 {
    max-width: 16.66667%;
    width: 16.66667%; }

  .col-md-3 {
    max-width: 25%;
    width: 25%; }

  .col-md-4 {
    max-width: 33.33333%;
    width: 33.33333%; }

  .col-md-5 {
    max-width: 41.66667%;
    width: 41.66667%; }

  .col-md-6 {
    max-width: 50%;
    width: 50%; }

  .col-md-7 {
    max-width: 58.33333%;
    width: 58.33333%; }

  .col-md-8 {
    max-width: 66.66667%;
    width: 66.66667%; }

  .col-md-9 {
    max-width: 75%;
    width: 75%; }

  .col-md-10 {
    max-width: 83.33333%;
    width: 83.33333%; }

  .col-md-11 {
    max-width: 91.66667%;
    width: 91.66667%; }

  .col-md-12 {
    max-width: 100%;
    width: 100%; } }
.col-lg {
  display: block; }

.col-lg-1 {
  display: block; }

.col-lg-2 {
  display: block; }

.col-lg-3 {
  display: block; }

.col-lg-4 {
  display: block; }

.col-lg-5 {
  display: block; }

.col-lg-6 {
  display: block; }

.col-lg-7 {
  display: block; }

.col-lg-8 {
  display: block; }

.col-lg-9 {
  display: block; }

.col-lg-10 {
  display: block; }

.col-lg-11 {
  display: block; }

.col-lg-12 {
  display: block; }

@media (min-width: 992px) {
  .col-lg-1 {
    max-width: 8.33333%;
    width: 8.33333%; }

  .col-lg-2 {
    max-width: 16.66667%;
    width: 16.66667%; }

  .col-lg-3 {
    max-width: 25%;
    width: 25%; }

  .col-lg-4 {
    max-width: 33.33333%;
    width: 33.33333%; }

  .col-lg-5 {
    max-width: 41.66667%;
    width: 41.66667%; }

  .col-lg-6 {
    max-width: 50%;
    width: 50%; }

  .col-lg-7 {
    max-width: 58.33333%;
    width: 58.33333%; }

  .col-lg-8 {
    max-width: 66.66667%;
    width: 66.66667%; }

  .col-lg-9 {
    max-width: 75%;
    width: 75%; }

  .col-lg-10 {
    max-width: 83.33333%;
    width: 83.33333%; }

  .col-lg-11 {
    max-width: 91.66667%;
    width: 91.66667%; }

  .col-lg-12 {
    max-width: 100%;
    width: 100%; } }
.col-xl {
  display: block; }

.col-xl-1 {
  display: block; }

.col-xl-2 {
  display: block; }

.col-xl-3 {
  display: block; }

.col-xl-4 {
  display: block; }

.col-xl-5 {
  display: block; }

.col-xl-6 {
  display: block; }

.col-xl-7 {
  display: block; }

.col-xl-8 {
  display: block; }

.col-xl-9 {
  display: block; }

.col-xl-10 {
  display: block; }

.col-xl-11 {
  display: block; }

.col-xl-12 {
  display: block; }

@media (min-width: 1200px) {
  .col-xl-1 {
    max-width: 8.33333%;
    width: 8.33333%; }

  .col-xl-2 {
    max-width: 16.66667%;
    width: 16.66667%; }

  .col-xl-3 {
    max-width: 25%;
    width: 25%; }

  .col-xl-4 {
    max-width: 33.33333%;
    width: 33.33333%; }

  .col-xl-5 {
    max-width: 41.66667%;
    width: 41.66667%; }

  .col-xl-6 {
    max-width: 50%;
    width: 50%; }

  .col-xl-7 {
    max-width: 58.33333%;
    width: 58.33333%; }

  .col-xl-8 {
    max-width: 66.66667%;
    width: 66.66667%; }

  .col-xl-9 {
    max-width: 75%;
    width: 75%; }

  .col-xl-10 {
    max-width: 83.33333%;
    width: 83.33333%; }

  .col-xl-11 {
    max-width: 91.66667%;
    width: 91.66667%; }

  .col-xl-12 {
    max-width: 100%;
    width: 100%; } }
@media (min-width: 0px) {
  .col-offset-1 {
    margin-left: 8.33333%; }

  .col-offset-2 {
    margin-left: 16.66667%; }

  .col-offset-3 {
    margin-left: 25%; }

  .col-offset-4 {
    margin-left: 33.33333%; }

  .col-offset-5 {
    margin-left: 41.66667%; }

  .col-offset-6 {
    margin-left: 50%; }

  .col-offset-7 {
    margin-left: 58.33333%; }

  .col-offset-8 {
    margin-left: 66.66667%; }

  .col-offset-9 {
    margin-left: 75%; }

  .col-offset-10 {
    margin-left: 83.33333%; }

  .col-offset-11 {
    margin-left: 91.66667%; }

  .col-offset-12 {
    margin-left: 100%; } }
@media (min-width: 576px) {
  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 768px) {
  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-xl-offset-1 {
    margin-left: 8.33333%; }

  .col-xl-offset-2 {
    margin-left: 16.66667%; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-offset-4 {
    margin-left: 33.33333%; }

  .col-xl-offset-5 {
    margin-left: 41.66667%; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-offset-7 {
    margin-left: 58.33333%; }

  .col-xl-offset-8 {
    margin-left: 66.66667%; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-offset-10 {
    margin-left: 83.33333%; }

  .col-xl-offset-11 {
    margin-left: 91.66667%; }

  .col-xl-offset-12 {
    margin-left: 100%; } }
