.btn-group {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  > .btn {
    margin: 0;
  }
}

.btn {
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease-in-out;
  padding: .5rem 1rem;
  position: relative;
  white-space: nowrap;

  &-hover, &:hover {
    background-color: #e6e6e6;
    border-color: #bbb;
    color: #333;
  }
  &-active, &:active {
    background-color: #bbb;
    border-color: #333;
    color: #333;
  }
  &-focus, &:focus {
    border-color: #2196f3;
    color: #333;
  }
  &-disabled, &:disabled {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
  }

  &-small {
    font-size: .8rem;
    padding: .25rem .5rem;
  }
  &-large {
    font-size: 1.25rem;
    padding: .5rem 1.5rem;
  }

  &-primary {
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: #fff;

    &:hover {
      background-color: #165e83;
      border-color: #165e83;
      color: #fff;
    }
    &:active {
      background-color: #0f2350;
      border-color: #0f2350;
      color: #fff;
    }
    &:focus {
      border-color: #5bc0de;
      color: #fff;
    }
  }

  &-success {
    background-color:$successColor;
    border-color: $successColor;
    color: #fff;

    &:hover {
      background-color: #007b43;
      border-color: #007b43;
      color: #fff;
    }
    &:active {
      background-color: #316745;
      border-color: #316745;
      color: #fff;
    }
    &:focus {
      border-color: #5bc0de;
      color: #fff;
    }
  }

  &-info {
    background-color: $infoColor;
    border-color: $infoColor;
    color: #fff;

    &:hover {
      background-color: #2792c3;
      border-color: #2792c3;
      color: #fff;
    }
    &:active {
      background-color: #3e62ad;
      border-color: #3e62ad;
      color: #fff;
    }
    &:focus {
      border-color: #5bc0de;
      color: #fff;
    }
  }

  &-warning {
    background-color: $warningColor;
    border-color: $warningColor;
    color: #fff;

    &:hover {
      background-color: #c89932;
      border-color: #c89932;
      color: #fff;
    }
    &:active {
      background-color: #ad7d4c;
      border-color: #ad7d4c;
      color: #fff;
    }
    &:focus {
      border-color: #5bc0de;
      color: #fff;
    }
  }

  &-danger {
    background-color: $dangerColor;
    border-color: $dangerColor;
    color: #fff;

    &:hover {
      background-color: #d7003a;
      border-color: #d7003a;
      color: #fff;
    }
    &:active {
      background-color: #a22041;
      border-color: #a22041;
      color: #fff;
    }
    &:focus {
      border-color: #5bc0de;
      color: #fff;
    }
  }
}