.dropdown {
  display: inline-block;
  position: relative;

  &-dropbtn {
    cursor: pointer;
    margin: 0;
  }

  &-content {
    background-color: #f9f9f9;
    display: none;
    position: absolute;
    white-space: nowrap;
    width: 100%;
    min-width: 10rem;
    z-index: 999;
  }

  &-content > a {
    color: #333;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
  }

  &-content > a:hover {
    background-color: #f1f1f1;
  }

  &:hover > &-content {
    display: block;
  }
}

.caret {
  border-right: 4px solid transparent;
  border-top: 4px solid #333;
  border-left: 4px solid transparent;
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
}

