.navbar {
  align-items: center;
  background: #333;
  color: #fff;
  justify-content: flex-start;
  padding: .5rem 1.5rem;

  &-logo {
    font-size: 1.25rem;
    margin: 0;
    white-space: nowrap;
  }

  &-nav {
    display: block;
    flex-flow: column nowrap;
    list-style: none;
  }

  @media (min-width: $smSize) {
    & {
      display: flex;
      width: 100%;
    }

    &-nav {
      display: flex;
      flex-direction: row;
      padding: .5rem 1.5rem;
    }
  }
}

.nav {
  &-link {
    color: #fff;
    display: block;
    font-size: 1.25rem;
    list-style: none;
    margin: 1rem;
    text-decoration: none;
  }

  &-item {
    border-top: 1px solid #4c4c4c;
    display: block;
    width: 100%;
  }

  @media (min-width: $smSize) {
    &-item {
      border: 1px solid transparent;
      display: block;
    }
    &-link {
      margin: 0 1.5rem;
      font-size: 1rem;
    }
  }
}
