$xsSize: 0px;
$smSize: 576px;
$mdSize: 768px;
$lgSize: 992px;
$xlSize: 1200px;

$primaryColor: #157ed4;
$successColor: #69b076;
$infoColor: #59b9c6;
$warningColor: #d9a62e;
$dangerColor: #c85554;

$twitterColor: #55acee;
$facebookColor: #3b5998;