.w {
  @for $i from 1 through 100 {
    &-#{$i} {
      width: percentage($i/100)!important;
    }
  }
}

.h {
  @for $i from 1 through 100 {
    &-#{$i} {
      height: percentage($i/100)!important;
    }
  }
}

.mw {
  @for $i from 1 through 100 {
    &-#{$i} {
      max-width: percentage($i/100)!important;
    }
  }
}

.mh {
  @for $i from 1 through 100 {
    &-#{$i} {
      max-height: percentage($i/100)!important;
    }
  }
}